topic {
    .header{
        .toolbar{
            button{
                color: #000;
            }
        }
    }

    .card-content{      
        .card-text{
            overflow: initial;
            white-space: normal;
        }
    }
}
