<ion-card class="card-unit-comparison">
    <div>
        <img src="http://via.placeholder.com/350x150" alt=""/>
        <ion-card-content class="card-content">
        <span lang="ar" dir="rtl" >الصوت</span>
        <span lang="en" dir="ltr" >Volume</span>

        <ion-grid>
            <ion-row>
                <ion-col class="first-col">
                <p lang="ar" dir="rtl">حمة</p>
                <p lang="en" dir="ltr">1 Gallon</p>
                </ion-col>
                <ion-col class="second-col">
                <p lang="ar" dir="rtl">حمة</p>
                <p lang="en" dir="ltr">3.78 Liter</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="first-col">
                <p lang="ar" dir="rtl">حمة</p>
                <p lang="en" dir="ltr">1 Quart</p>
                </ion-col>
                <ion-col class="second-col">
                <p lang="ar" dir="rtl">حمة</p>
                <p lang="en" dir="ltr">0.95 Liter</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="first-col">
                <p lang="ar" dir="rtl">حمة</p>
                <p lang="en" dir="ltr">1 Cup</p>
                </ion-col>
                <ion-col class="second-col">
                <p lang="ar" dir="rtl">حمة</p>
                <p lang="en" dir="ltr">237 ML</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="first-col">
                <p lang="ar" dir="rtl">حمة</p>
                <p lang="en" dir="ltr">1 Ounce</p>
                </ion-col>
                <ion-col class="second-col">
                <p lang="ar" dir="rtl">حمة</p>
                <p lang="en" dir="ltr">29.5 ML</p>
                </ion-col>
            </ion-row>
            </ion-grid>
        </ion-card-content>
    </div>
</ion-card>
