category-list {
    .header{
        .toolbar{
            button{
                color: #aaa;
            }
        }
    }

    .categories {

        .category-item {
            min-height:110px;
            text-align:center;
            margin:10px 0;
            p {
                color:#fff;
                font-size: 1.3em;
            }

            .item-inner{
                border:0;
            }
        }
    }
}