<ion-card class="card-image-text">
    <div>
      <img src="http://via.placeholder.com/350x150" alt="" />
      <ion-card-content class="card-content">
        <span lang="ar" dir="rtl">أنا أحبك عندما كنت القوس في المسجد الخاص بك، والركوع في المعبد الخاص بك، والصلاة في كنيستك. بالنسبة لك وأنا أبناء من دين واحد، وهي الروح.</span>
        <span lang="en" dir="ltr">I love you when you bow in your mosque, kneel in your temple, pray in your church. For you and I are sons of one religion, and it is the spirit.</span>
      </ion-card-content>
    </div>
  </ion-card>