<ion-header >
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="sc-title" [ngStyle]="{'background-color':selectedItem.color }"  > 
      {{selectedItem.title}}
      <br>
      {{selectedItem.translation}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="hero-banner">
  <div [ngStyle]="{'background-color':selectedItem.color }">
  </div>

  <div padding>
    <ion-grid  class="subcategories">
      <ion-row *ngFor="let itemRow of itemRows">
        <ion-col col-6 *ngFor="let item of itemRow">
          <button ion-item (click)="itemTapped($event, item)" class="subcategory-button">
            <i class="fa {{item.icon}} fa-lg"></i>
            <span>
              {{item.title}}
            </span>
            <span>
              {{item.translation}} 
            </span>
          </button>
        </ion-col>

      </ion-row>

    </ion-grid>

    <!-- <ion-list class="subcategories">
      <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)" class="subcategory-button">
        <ion-icon name="{{item.icon}}" item-left></ion-icon>
        {{item.title}}
        <div class="item-note" item-right>
          {{item.note}}
        </div>
      </button>
    </ion-list> -->
  </div>
</ion-content>
