<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedItem.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-content">
  <div>
     <ion-card *ngFor="let item of itemCards">
      <div [ngSwitch]="item.template">
        <div *ngSwitchCase="'CardTextBlock'">
          <ion-card-header class="card-text" style="text-align:center;">
            {{item.translation}}
            <br /> 
            {{item.title}}
          </ion-card-header>
          {{item.card.description}}
        </div>

        <div *ngSwitchCase="'CardImageTextBlock'">
           <div padding>
            <div *ngIf="item.card.image.available">
              <img class="img-dosdontlist" [attr.src]="item.card.image.displayPath(useLocalImages)"/>
            </div>
          </div>
          <ion-card-header class="card-text" style="text-align:center;">
            {{item.translation}}<br /> 
            {{item.title}}
          </ion-card-header>
        </div>

        <div *ngSwitchCase="'CardExampleComparison'">
          <div padding>
            <div *ngIf="item.card.image_positive.available">
              <img class="left-img" [attr.src]="item.card.image_positive.displayPath(useLocalImages)">
            </div>
            <div *ngIf="item.card.image_negative.available">
              <img class="right-img" [attr.src]="item.card.image_negative.displayPath(useLocalImages)">
            </div>
            <p style="clear: both;">
          </div>
          <ion-card-header class="card-text" style="text-align:center;">
            {{item.translation}}<br /> 
            {{item.title}}
          </ion-card-header>
        </div>
        
        <div *ngSwitchCase="'CardRulesComparison'">
          <div padding>
            <div *ngIf="item.card.image.available">
              <img class="img-dosdontlist" [attr.src]="item.card.image.displayPath(useLocalImages)">
            </div>
            <p style="clear: both;">
          </div>
          <ion-card-header class="card-text" style="text-align:center;">
            {{item.translation}}
            <br> 
            {{item.title}}
          </ion-card-header>
          
          <!-- Again for item.card.donts -->
          <ion-card *ngFor="let media of item.card.dos">
            <div *ngIf="media.useIcon">
              <!-- use Icon -->
            </div>
            <!-- ELSE - use Image-->
          </ion-card>
        </div>
          
        <div *ngSwitchCase="'CardItemsExplanation'">
          <div padding>
            <div *ngIf="item.card.image.available">
              <img class="img-dosdontlist" [attr.src]="item.card.image.displayPath(useLocalImages)">
            </div>
            <p style="clear: both;">
          </div>
          <ion-card-header class="card-text" style="text-align:center;">
            {{item.translation}}
            <br> 
            {{item.title}}
          </ion-card-header>
        </div>
        
        <div *ngSwitchCase="'CardUnitComparison'">
          <div padding>
            <div *ngIf="item.card.image.available">
              <img class="left-img" [attr.src]="item.card.image.displayPath(useLocalImages)">
            </div>
            <p style="clear: both;">
          </div>
          <ion-card-header class="card-text" style="text-align:center;">
            {{item.translation}}
            <br> 
            {{item.title}}
          </ion-card-header>

          <div *ngFor="let unit of item.units">
            <!-- need CSS for left unit and right unit -->
          </div>
        </div>
        
        <div *ngSwitchCase="'CardMonth'">
          <ion-card-header class="card-text" style="text-align:center;">
            {{item.translation}}
            <br> 
            {{item.title}}
          </ion-card-header>

          <div *ngFor="let date of item.dates">
            <!-- need CSS for specific date and generic date -->
          </div>
        </div>

      </div>

    </ion-card> 
  </div>
</ion-content>
