page-item-details {
    .header{
        .toolbar{
            button{
                color: #000;
            }
        }
    }

    .card-content{      
        .left-img{
            float: left; 
            width: 195px; 
            height:118px; 
            margin-right: 1%; 
            margin-bottom: 0.5em;
        }
        .right-img{
            float: right; 
            width: 116px; 
            height:118px; 
            margin-left: 1%; 
            margin-bottom: 0.5em;
        }
        .img-dosdontlist{
            height: 118px;
        }

        .card-text{
            overflow: initial;
            white-space: normal;
        }
    }
}
