<ion-header >
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="sc-title" [ngStyle]="{'background-color':selectedItem.color }"  > 
      {{selectedItem.translation}}
      <br>
      {{selectedItem.title}}
    </ion-title>

    <ion-buttons>
      <button ion-button icon-only style="float:right;">
        <ion-icon name="search" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="hero-banner">
  <div [ngStyle]="{'background-color':selectedItem.color }">
    <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page2-video1" class="sc-video">
      <iframe src="https://www.youtube.com/embed/K0G0QvuOUFg" frameborder="0" allowfullscreen width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </div>

  <div padding>
    <ion-grid  class="subcategories">
      <ion-row>
        <ion-col col-6>
          <button ion-item *ngFor="let item of items2" (click)="itemTapped($event, item)" class="subcategory-button">
            <ion-icon name="{{item.icon}}" ></ion-icon>
            <span>
              {{item.title}}
            </span>
            <span>
               {{item.translation}} 
            </span>
            <div class="item-note">
              {{item.note}}
            </div>
          </button>
        </ion-col>

        <ion-col col-6>
          <button ion-item *ngFor="let item of items1" (click)="itemTapped($event, item)" class="subcategory-button">
            <ion-icon name="{{item.icon}}" style="text-align: center" ></ion-icon>
            <span>
              {{item.title}}
            </span>
            <span>
              {{item.translation}}
            </span>
            <div class="item-note" >
              {{item.note}}
            </div>
          </button>
        </ion-col>

      </ion-row>
      <!-- <ion-row>
        <ion-col col-6>This column will take 6 columns</ion-col>
      </ion-row> -->
    </ion-grid>

    <!-- <ion-list class="subcategories">
      <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)" class="subcategory-button">
        <ion-icon name="{{item.icon}}" item-left></ion-icon>
        {{item.title}}
        <div class="item-note" item-right>
          {{item.note}}
        </div>
      </button>
    </ion-list> -->
  </div>
</ion-content>
