<ion-card class="card-example-comparison">
    <div>
        <div class="example">
        <i class="far fa-check" ></i>
        <img src="http://via.placeholder.com/350x250" alt="" />
        </div><div class="example">
        <i class="far fa-ban" ></i>
        <img src="http://via.placeholder.com/350x250" alt="" />
        </div>
        <ion-card-content class="card-content">
        <span lang="ar" dir="rtl" >العديد من المذهب هو مثل نافذة جزء. ونحن نرى الحقيقة من خلال ذلك لكنه يقسمنا من الحقيقة.</span>
        <span lang="en" dir="ltr" >Many a doctrine is like a window pane. We see truth through it but it divides us from truth.</span>
        </ion-card-content>
    </div>
</ion-card>
