<ion-card class="card-items-explanation">
    <div>
      <img src="http://via.placeholder.com/350x150" alt="" />
      <ion-card-content class="card-content">
        <span lang="ar" dir="rtl">لماذا تفكر بذلك المستقبل للتنبؤ، واليشم دماغك إلى عبث الحيرة؟ يلقي الرعاية الخاصة بك، وترك خطط الله له - شكل كل منهم دون استشارة لك.</span>
        <span lang="en">Why ponder thus the future to foresee, and jade thy brain to vain perplexity? Cast off thy care, leave Allah’s plans to him – He formed them all without consulting thee.</span>

        <ion-grid>
          <ion-row>
            <ion-col>
              <i class="fal fa-ambulance"></i>
              <p lang="ar" dir="rtl">سياره اسعاف</p>
              <p lang="en" dir="ltr">Ambulance</p>
            </ion-col>
            <ion-col>
              <i class="fal fa-user-md"></i>
              <p lang="ar" dir="rtl">طبيب</p>
              <p lang="en" dir="ltr">Docter</p>
            </ion-col>
            <ion-col>
              <i class="fal fa-medkit"></i>
              <p lang="ar" dir="rtl">إسعافات أولية</p>
              <p lang="en" dir="ltr">First Aid</p>
            </ion-col>
            <ion-col>
              <i class="fal fa-hospital"></i>
              <p lang="ar" dir="rtl">مستشفى</p>
              <p lang="en" dir="ltr">Hospital</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </div>
  </ion-card>